*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Primary */

--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

    /* Neutral */

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--paragraph-fonts: 'Montserrat';
--header-fonts: 'Fraunces';
}

.container ul{
    list-style-type: none;
}
.image img{
    width: 100%;
    border-radius: .7rem .7rem 0 0;
}

body{
    font-size: 14px;
    background: var(--Cream);
    min-height: calc(100vh - 0.1px);
    margin: 0 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container{
    max-width: 600px;
}

.container .text{
    background: var(--White);
    padding: 1rem;
    margin-top: -3px;
    border-radius: 0 0 .7rem .7rem;
}
.container .text .preview{
    text-transform: uppercase;
    color: hsl(228, 12%, 48%); 
    font-family: var(--paragraph-fonts);
    font-size: .9rem;
    letter-spacing: .2rem;
    margin-bottom: .2rem;
    font-weight: 500;
}

.container .text h1{
    font-family: var(--header-fonts);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.container .text p{
    color: hsl(228, 12%, 48%); 
    font-size: 1.04rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
.container ul{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.container ul li:first-child{
    font-family: var(--header-fonts);
    font-size: rem;
    color: var(--Dark-cyan);
}
.container ul li:last-child{
    margin-left: 1rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: var(--paragraph-fonts);
}

.container .text .btn{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 1rem;
    margin-top: 1.2rem;
    border-radius: .5rem;
    border: none;
    color: var(--White);
    font-size: .8rem;
    font-family: var(--paragraph-fonts);
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
}
.container .text .btn:hover{
    background-color: hsl(158, 38%, 20%);  
}
.container .text .btn img{
    margin-right: .6rem;
}


.attribution{
    padding: 1rem;
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    font-family: var(--paragraph-fonts);
    font-weight: 500;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: var(--Dark-cyan);
}


@media (min-width: 640px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container .text{
        border-radius: 0 .7rem .7rem 0;
        margin-top: 0;
        padding: 1.5rem 1.5rem 0; 
    }
    
    .image img{
        width: 100%;
        height: 100%;
        border-radius: .7rem 0 0 .7rem;
    }
    .container .text .btn{
        margin-bottom: .5rem;
    }
}